<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resultados</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body {
            height: 80vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
        }
    </style>
</head>
<body class="teal lighten-5">
        <div class="container">
                <div class="row">
                    <div class="col s6 offset-s3">
                        <h1>El robot está:</h1>
                        <h2 id="resultado">{{resultado}}</h2>
                    </div>
                </div>
            </div>
</body>
</html>